.idea/
.vscode/
**/.vscode
.dep.inc
.dirstamp

lib/
polaris-test-suite/

build/
nbproject/
testing/

projects/*
!projects/CommandList.cmd
!projects/example1.cmd
!projects/example2.cmd
!projects/plot_examples.py
!projects/constantCylinder/

.tags
.tags1
null.d

**/Makefile

**/*.bak
examples*
