.idea/
.vscode/
.dep.inc
.dirstamp

autom4te.cache/
bin/
CCfits/
cfitsio/
lib/
projects
nbproject/
testing/

.tags
aclocal.m4
config.log
config.status
configure
depcomp
install-sh
Makefile
Makefile.in
missing
py-compile
polaris.run
/build/