.idea/
.vscode/
**/.vscode
.dep.inc
.dirstamp

projects
nbproject/
testing/

.tags

tools/scripts/*
**/Makefile
lib/CCfits
lib/cfitsio
lib/python*

src/build/
src/polaris
bin/*

**/*.bak
examples*

compile.sh
.gitlab-ci.yml
